element {
  --mc: #302A29;
}
body{
text-align: center;
background-color: #302A29;
color: antiquewhite;
font-family: arial;
font-weight: lighter;
font-family: 'Raleway', sans-serif;
font-size: 22px;
width: 100%
}
footer{
  color: antiquewhite;
}
.main{
  color:antiquewhite;
}
button{
  background-color: #302A29;
}
h1{
  margin-top:30px;
  margin-right: 0px;
  margin-bottom: 30px;
}
input{
  height: 40px;
  width: 205px;
  text-align: center;
  font-size: 32px;
  font-weight: lighter;
  outline: none;
  border: none;
  background-color: #faebd7;
  color: #302A29;
  font-family: 'Raleway', sans-serif;
  border-radius: 2px;
}
a, a:visited{
  color: black;
}
footer{
  position: absolute;
  bottom: 5px;
  right: 30px;
  margin: 20;
  color: black;
  opacity: 0.5;
}
button{
  /*background-color: black;*/
  outline: none;
  border: none;
  cursor: pointer;
}
button:hover, button:focus, a:hover, .icon:hover, img:hover{
  outline: none;
}
/* Dropdown Button (pulled from W3Schools)*/
.dropbtn {
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    /*background-color: #3e8e41;*/
    outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    /* margin-top: 10px; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
    display: none;
    position: sticky;
    background-color: antiquewhite;
    min-width: 160px;
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    top: 5px;
}

.sub {
  /*position: relative;*/
  /*margin: inherit;*/
  float: right;
  margin-left: 150px;
}

/* Links inside the dropdown */
.dropdown-menu li {
    color: black;
    padding: 17px 25px;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
.dropdown-menu{
  background-color: antiquewhite;
}
.mod{
  padding: 5px
  float: left;
}
.icon{
  margin-left: 15px;
  margin-right: 15px;
  font-size: 50px;

}
/* Change color of dropdown links on hover */
  li:hover {
  background-color: #cdc0b0
}

/* Show the dropdown menu (use JS to add this class to the
.dropdown-content container when the user clicks on the dropdown button) */
.show{
  display:inline-block;
}

.dropdown-menu{
  position: relative;
  display: inline-block;

  /* height: parent.height; */
}
.next, .prev{
  font-size: 32;
}
.btn-gen{
  height: 30px;
  width: 205px;
  color:#302A29;
  background-color: antiquewhite;
}
.mod:hover{
  background-color: #cdc0b0
}
.badge:hover{
    color: #302A29 !important;
}
.badge{
  color: #302A29;
  background-color: antiquewhite;
}
*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
.btn-icon{
  background-color: rgba(0, 0, 0, 0.0);
}
#delta, #nabla{
  font-size: 32;
  cursor: pointer;
}
#size{
  right: 0;
}
#small{
  font-size: 10px;
}
#medium{
  font-size: 20px;
}
#large{
  font-size: 30px;
}
#infoBtn{
  cursor: pointer;
}
#iconBar{
  margin-top: 30px;
}
#raceIcon{

}
