<!Doctype html>
<head>
  <title>eNameGen</title>
  <!-- <link href="../../css/styles.css" rel="stylesheet" type="text/css"> -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="../../Scripts/jquery-3.2.1.js" type="text/JavaScript"></script>
  <script src="../../Scripts/scripts.js" type="text/Javascript"></script>
  <script src="../../arrays/begs.js"></script>
  <script src="../../arrays/shortEnds.js"></script>
  <script src="../../arrays/mids.js"></script>
  <script src="../../arrays/ends.js"></script>

  <!-- Fit to Mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="../../Content/Images/triangle.png" type="image/x-icon">
</head>
<body>
<h1 class="main">eNameGen</h1>
<div>
<div class="row">

    <a id='prev' class= 'prev mod main badge unselectable'>
    <
    </a>
    <input id='nameBox' type="text" spellcheck="false"/>

    <a id='next' class='next mod main badge unselectable'>
    >
    </a>
</span>
  </div>

  <div class="row">
    <div class="btn-group" role="group" width="500px">

      <div class="dropdown col-xs-4">
      <a class="dropdown-toggle" id="gender" type="button" data-toggle="dropdown">
        <img src="../../icons/circle.png" height=40px>

      <!-- <span class="caret unselectable"></span> -->
    </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="gender">
          <li role="presentation" class="dropdown-header">Size</li>
           <div class="dropdown-divider"></div>
          <li role="presentation" href="" id='small' class="mod main sizeSub" title="Small">*</li>
          <li role="presentation" href="" id='medium' class="mod main sizeSub" title="Medium">*</li>
          <li role="presentation" href="" id='large' class="mod main sizeSub" title="Large">*</li>
        </ul>
      </div>

    <div class="dropdown col-xs-4">
    <a class="dropdown-toggle" id="race" type="button" data-toggle="dropdown">
      <img src="../../icons/elfSharpSquareJaw.png" height=40px>
    <!-- <span class="caret unselectable"></span> -->
  </a>

      <ul class="dropdown-menu" role="menu" aria-labelledby="race">
        <li role="presentation" class="dropdown-header">Race</li>
         <div class="dropdown-divider"></div>
        <li role="presentation" href="" id="basic" class="mod main raceSub" title="Basic">Basic</li>
        <li role="presentation" href="" id="human" class="mod main raceSub" title="Human">Human</li>
        <li role="presentation" href="" id="elf" class="mod main raceSub" title="Elf">Elf</li>
        <li role="presentation" href="" id="orc" class="mod main raceSub" title="Orc">Orc</li>
      </ul>
      </div>

      <div class="dropdown col-xs-4">
      <a class="dropdown-toggle" id="gender" type="button" data-toggle="dropdown">
        <img src="../../icons/circle.png" height=40px>
      <!-- <span class="caret unselectable"></span> -->
    </a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="gender">
          <li role="presentation" class="dropdown-header">Gender</li>
           <div class="dropdown-divider"></div>
          <li role="presentation" href="" id="male" class="mod main genderSub" title="Male">Male</li>
          <li role="presentation" href="" id="female" class="mod main genderSub" title="Female">Female</li>
          <li role="presentation" href="" id="other" class="mod main genderSub" title="Other">Other</li>
        </ul>
        </div>

    </div>
  </div>

  <br/>

  <!-- <a id="nabla"  class="dropbtn mod main badge unselectable">∇</a> -->
  <a id='delta' class="delta mod main btn btn-gen unselectable">
  ►
</a>
</div>
<div id="nablaDrop" class="dropdown-content">

      <!-- <a id="size" class="dropbtn mod main">Size</a>

      <a id="race" class="dropbtn mod main center">Race</a>

      <a id="gender" class="dropbtn mod main">Gender</a>

      <a id="feedback" class="dropbtn mod main">Feedback</a> -->
</div>






<!--

<div class="dropdown">
<div id="feedbackDrop" class="dropdown-content sub">
  <div class="mod main">
    <a href="" id="like" class="mod main" title="Like generated name">Like</a>

    <a href="" id="dislike" class="mod main" title="Dislike generated name">Dislike</a>
  </div>
</div>
</div> -->



<footer>
  <!-- <button id="infoBtn">i</button> -->
  <!-- &copy Ring-Walters 2017
<a href="https://github.com/erikringwalters" title="" alt="Erik's GitHub Profile"><img src="../../Content/Images/gitHubIcon.png"></i></a> -->

<div id="info" class="hide">
  <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>
     from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
     <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
       CC 3.0 BY</a></div>
</div>
</footer>
</body>
