<!Doctype html>
<head>
  <title>eNameGen</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="../../Scripts/jquery-3.2.1.js" type="text/JavaScript"></script>
  <script src="../../arrays/begs.js"></script>
  <script src="../../arrays/shortEnds.js"></script>
  <script src="../../arrays/mids.js"></script>
  <script src="../../arrays/ends.js"></script>

  <!-- <script src="0.js"></script> -->
  <!-- <script type="text/JavaScript" src="js/queue.js"></script> -->
  <script type="text/JavaScript" src="../../Scripts/scripts.js"></script>
  <!-- <script type="text/JavaScript" src="../../Scripts/write.js"></script> -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </script>
  <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
  <!-- <link rel="stylesheet" href="icons/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css"> -->
  <link rel="shortcut icon" href="../../Content/Images/triangle.png" type="image/x-icon">
</head>
<body>
<h1 class="main">eNameGen</h1>
<div>
<div class="row">
  <span>
    <a id='prev' class= 'prev mod main badge unselectable'>
    <
    </a>
    <input id='nameBox' type="text" />

    <a id='next' class='next mod main badge unselectable'>
    >
    </a>
</span>
  </div>
<div id="iconBar" class="row" >

  <span class="icon unselectable" id="sizeIcon">o</span>
  <span class="icon unselectable" id="raceIcon"><img src=../../icons/elfSharpSquareJaw.png height=50px></span>
  <span class="icon unselectable" id="genderIcon">o</span>

  </span>
  <br/>

  </br/>

  <a id="nabla"  class="dropbtn mod main badge unselectable">∇</a>
  <a id='delta' class="delta mod main btn btn-gen unselectable">
  ►
</a>
</div>
<div id="nablaDrop" class="dropdown-content">

      <a id="size" class="dropbtn mod main">Size</a>

      <a id="race" class="dropbtn mod main">Race</a>

      <a id="gender" class="dropbtn mod main">Gender</a>

      <a id="feedback" class="dropbtn mod main">Feedback</a>
</div>


<div class="dropdown">
<div id="sizeDrop" class="dropdown-content sub">
  <div  class="mod main"> <!--This third div gives a little inner-color selection effect -->
    <a href="" id='small' class="mod main sizeSub" title="Small">*</a>
    <a href="" id='medium' class="mod main sizeSub" title="Medium">*</a>
    <a href="" id='large' class="mod main sizeSub" title="Large">*</a>
  </div>
</div>
</div>

<div class="dropdown">
<div id="raceDrop"class="dropdown-content sub">
  <div  class="mod main"> <!--This third div gives a little inner-color selection effect -->
    <a href="" id="basic" class="mod main raceSub" title="Basic">Basic</a>
  <a href="" id="human" class="mod main raceSub" title="Human">Human</a>
  <a href="" id="elf" class="mod main raceSub" title="Elf">Elf</a>
  <a href="" id="orc" class="mod main raceSub" title="Orc">Orc</a>
  </div>
</div>
</div>

<div class="dropdown">
<div id="genderDrop" class="dropdown-content sub">
  <div  class="mod main"> <!--This third div gives a little inner-color selection effect -->
  <a href="" id="male" class="mod main genderSub" title="Male">Male</a>
  <a href="" id="female" class="mod main genderSub" title="Female">Female</a>
  <a href="" id="other" class="mod main genderSub" title="Other">Other</a>
  </div>
</div>
</div>

<div class="dropdown">
<div id="feedbackDrop" class="dropdown-content sub">
  <div class="mod main">
    <a href="" id="like" class="mod main" title="Like generated name">Like</a>

    <a href="" id="dislike" class="mod main" title="Dislike generated name">Dislike</a>
  </div>
</div>
</div>



<footer>
  <!-- <button id="infoBtn">i</button> -->
  &copy Ring-Walters 2017
<a href="https://github.com/erikringwalters" title="" alt="Erik's GitHub Profile"><img src="../../Content/Images/gitHubIcon.png"></i></a>

<div id="info" class="hide">
  <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>
     from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
     <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
       CC 3.0 BY</a></div>
</div>
</footer>
</body>
